/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
}

/* Container Styles */
.container {
    width: 80%;
    max-width: 1200px; /* Optional: Limits the container width on large screens */
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

/* Header Styles */
h1.center {
    text-align: center;
    margin: 20px 0;
}

h1.skyblue-bold {
    color: skyblue;
    font-size: 34px;
    font-weight: bold;
}

/* Form Container Styles */
.form-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px 0;
}

.left-side, .right-side {
    width: 48%;
}

.input-label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #45a049;
}

.red-bold {
    color: red;
    font-weight: bold;
}

/* Water Image Styles */
.water-image {
    max-width: 100%;
    height: auto;
}

/* Box Styles */
.box {
    background-color: #87CEEB; /* Sky Blue */
    border: 2px solid #87CEEB; /* Sky Blue */
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.box h2 {
    color: green;
    font-size: medium;
    margin: 0 0 10px 0;
}

.box p {
    color: black;
    font-weight: bold;
    margin: 0;
}

/* Gauge Chart Styles */
.gauge-chart {
    text-align: center;
    margin-bottom: 20px;
}

/* Map Container Styles */
.map-container {
    text-align: center;
}
