<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ground Water Coordinate Suggestor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1 class="center skyblue-bold">Optimal Ground Water Coordinate Suggestor</h1>
        <div class="form-container">
            <div class="left-side">
                <form method="POST">
                    <label for="latitude" class="input-label">Enter Latitude:</label>
                    <input type="number" step="0.00001" name="latitude" required>

                    <label for="longitude" class="input-label">Enter Longitude:</label>
                    <input type="number" step="0.00001" name="longitude" required>

                    <button type="submit" class="btn">Find Optimal Coordinates</button>
                </form>
                {% if optimal_result %}
                    <p class="red-bold">{{ optimal_result }}</p>
                {% endif %}
            </div>

            <div class="right-side">
                <img src="{{ url_for('static', filename='optimum_gw.jpg') }}" alt="Water Image" class="water-image">
            </div>
        </div>
    </div>
</body>
</html>
